@mixin avatar-image($url) {
  background-image: url("#{$url}");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex($flex-direction: row, $justufy-content: flex-start,){
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justufy-content;
}